.jumbotron
  h1.display-4[style="text-align:center"]
    = @league.name
    |  Top 8 Tournament
  hr.my-4
  div[style="text-align:center"]
    = link_to 'Back To Teams', league_path(@league.id), :class => 'btn btn-outline-primary'
    = link_to 'Seed Teams', league_tournaments_path(@league), :class => 'btn btn-outline-info'
.row.col-md-10[style="margin:auto; float:none"]
  .col-md-5
    - @top_8 = @table_data.first(8)
    - @first_4 = @top_8.first(4).sort_by{rand}
    - @last_4 = @top_8.last(4).sort_by{rand}
    table.table.table-borderless
      thead
        tr
          th
            | Home Team
      tbody
        - @first_4.each_with_index do |td, index|
          tr
            td
              = td[:team]
  .col-md-2
    table.table.table-borderless
      thead
        tr
          th
            | vs
      tbody
        - @last_4.each_with_index do |td, index|
          tr
            td
              | -
  .col-md-5
    table.table.table-borderless
      thead
        tr
          th
            | Away Team
      tbody
        - @last_4.each_with_index do |td, index|
          tr
            td
              = td[:team]
= link_to 'Back To Teams', league_path(@league.id), :class => 'btn btn-outline-primary'